In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('Directa_DataLogger.csv')
df.head()

,Record,Date,LOC Time,RS482,Profinet,Conexion Profinet,Quality A,Quality B,Quality C
0,1,2024-05-17,15:04:56,0,0,0,86.184659,72.019481,100.078810
1,2,2024-05-17,15:11:23,0,0,0,91.678694,73.784685,88.736684
2,3,2024-05-17,15:17:51,0,0,0,88.952772,60.745442,83.649142
3,4,2024-05-17,15:25:56,0,0,0,83.924976,69.990151,87.570591
4,5,2024-05-17,15:32:23,0,0,0,82.565509,66.307760,91.781614

In [20]:
df.groupby(['Date']).count()

,Record,LOC Time,RS482,Profinet,Conexion Profinet,Quality A,Quality B,Quality C
Date,,,,,,,,
2024-05-17,59,59,59,59,59,59,59,59
2024-05-18,65,65,65,65,65,65,65,65
2024-05-20,108,108,108,108,108,108,108,108
2024-05-21,69,69,69,69,69,69,69,69
2024-05-22,104,104,104,104,104,104,104,104
2024-05-23,137,137,137,137,137,137,137,137
2024-05-24,119,119,119,119,119,119,119,119
2024-05-25,96,96,96,96,96,96,96,96
2024-05-27,86,86,86,86,86,86,86,86
2024-05-28,53,53,53,53,53,53,53,53
2024-06-02,10,10,10,10,10,10,10,10
2024-06-03,68,68,68,68,68,68,68,68
2024-06-04,61,61,61,61,61,61,61,61

In [29]:
df.columns

Index(['Record', 'Date', 'LOC Time', 'RS482', 'Profinet', 'Conexion Profinet',
       'Quality A', ' Quality B', ' Quality C'],
      dtype='object')

In [32]:
gp = df.groupby(['Date']).sum()
gp = gp.drop(columns=['LOC Time','Quality A', ' Quality B', ' Quality C','Record'])
print(gp)

            RS482  Profinet  Conexion Profinet
Date
2024-05-17      0         0                  0
2024-05-18      0         0                  0
2024-05-20      1         0                  0
2024-05-21      1         1                  0
2024-05-22      6         1                  0
2024-05-23      7         4                  0
2024-05-24     16         1                  0
2024-05-25      6         4                  0
2024-05-27      0         2                  1
2024-05-28      2         0                  1
2024-06-02     10         0                  9
2024-06-03      9         1                  0
2024-06-04      9         2                  0

In [21]:
gk = df.groupby(['Date'])
gk.first()

,Record,LOC Time,RS482,Profinet,Conexion Profinet,Quality A,Quality B,Quality C
Date,,,,,,,,
2024-05-17,1,15:04:56,0,0,0,86.184659,72.019481,100.078810
2024-05-18,60,00:12:14,0,0,0,90.307528,63.163849,100.009929
2024-05-20,125,06:56:32,0,0,0,87.378945,68.053719,86.692792
2024-05-21,233,00:01:14,0,0,0,94.276088,67.758978,87.272745
2024-05-22,302,00:44:40,0,0,0,89.442806,62.440828,84.714259
2024-05-23,406,00:04:21,0,0,0,87.721407,71.773484,93.140941
2024-05-24,83,00:07:00,0,0,0,89.000000,63.000000,90.000000
2024-05-25,202,01:15:03,0,0,0,89.000000,66.000000,90.000000
2024-05-27,298,06:34:47,0,0,0,89.000000,65.000000,90.000000
2024-05-28,59,00:01:12,0,0,0,89.000000,69.000000,90.000000
2024-06-02,1,00:34:02,1,0,0,88.000000,76.000000,90.000000
2024-06-03,11,11:18:05,1,0,0,88.000000,74.000000,90.000000
2024-06-04,69,00:00:50,0,0,0,88.000000,67.000000,89.000000

In [ ]:
import plotly.graph_objects as go

# Crear figuras
fig = go.Figure()

# Agregar barras horizontales para cada columna
fig.add_trace(go.Bar(y=df["Profinet"].value_counts().index,
                     x=df["Profinet"].value_counts().values,
                     orientation='h',
                     marker=dict(color='lightblue'),
                     name='Profinet'))

fig.add_trace(go.Bar(y=df["RS482"].value_counts().index.astype(str) + '    ',
                     x=df["RS482"].value_counts().values,
                     orientation='h',
                     marker=dict(color='lightgreen'),
                     name='RS482'))

fig.add_trace(go.Bar(y=df["Conexion Profinet"].value_counts().index.astype(str) + '    ',
                     x=df["Conexion Profinet"].value_counts().values,
                     orientation='h',
                     marker=dict(color='lightcoral'),
                     name='Conexion Profinet'))

# Actualizar diseño del gráfico
fig.update_layout(barmode='group',  # Barras independientes
                  title='Resultado de comportamiento de los sensores',
                  xaxis_title='Cantidad de Piezas detectadas',
                  yaxis_title='Resultado')

# Mostrar el gráfico
fig.show()

In [1]:
import pandas as pd
import os

def join_csv(path=None, out_file=None):
    """
    Combina los archivos CSV existentes en una carpeta y devolverlo como un
    DataFrame.
    
    Parameters
    ----------
    path : string
        La ruta en la que se encuentran los archivos, si no se indica ninguna se
        usará la carpeta actual.
    out_file :string
        Archivo opcional en el que se guardará los resultados, en caso de que no
        se indique un nombre no se generará
    
    Returns
    -------
    DataFrame
        Obejto DataFrame con la unión de los archivos CSV
    """
    
    if path is None:
        files = [file for file in os.listdir() if '.csv' in file]
    else:
        files = [os.path.join(path, file) for file in os.listdir(path) if '.csv' in file]
        
    df = pd.concat(map(pd.read_csv, files), ignore_index=True)
    
    if out_file is not None:
        if path is None:
            df.to_csv(out_file,index=False)
        else:
            df.to_csv(os.path.join(path, out_file),index=False)
        
    return df

In [2]:
print("CSV Completo.csv")
join_csv(out_file="Directa_DataLoggerC.csv")

CSV Completo.csv

,Record,Date,LOC Time,RS482,Profinet,Conexion Profinet,Quality A,Quality B,Quality C
0,1,2024-05-17,15:04:56,0,0,0,86.184659,72.019481,100.078810
1,2,2024-05-17,15:11:23,0,0,0,91.678694,73.784685,88.736684
2,3,2024-05-17,15:17:51,0,0,0,88.952772,60.745442,83.649142
3,4,2024-05-17,15:25:56,0,0,0,83.924976,69.990151,87.570591
4,5,2024-05-17,15:32:23,0,0,0,82.565509,66.307760,91.781614
...,...,...,...,...,...,...,...,...,...
1441,407,2024-06-11,14:02:20,0,0,0,89.000000,64.000000,90.000000
1442,408,2024-06-11,14:08:49,0,0,0,89.000000,66.000000,90.000000
1443,409,2024-06-11,14:16:24,0,0,0,89.000000,64.000000,90.000000
1444,410,2024-06-11,14:23:01,0,0,0,89.000000,65.000000,90.000000
1445,411,2024-06-11,14:29:37,1,0,0,89.000000,64.000000,90.000000